header {

 position:fixed;
 top:0px;
width : 100%;
height : 85px;
background-color:white;
z-index : 200;
}
#logo-width{
width : 250px;
height : 85px;
margin-left : 20px;
}
#text-width{
    position: relative;
    left: 256px;
	top : 10px;
    width: 500px;
    height: 30px;
    border: none;
	
}
body{width : 1920px; margin : 0 auto}

/*----------section스타일------------*/

#board_bar{
width : 60%;
margin : 98px auto;

}
#board_box{
width : 100%;
height : 100px;
}
#review{
display : inline-block;
}
#paging_bar{
width : 100%;
}
#paging_img_location{
margin-left : 150px;
}
#board_serch{
width : 100%;
margin : 10px 330px;
}
#write_button{
margin-left : 0px;
}

/*---------부터스타일----------------*/
#footer {
	width: 100%;
	
	padding: 33px 0 0 0;
	background: #1d9c59;
	font-size: 11px;
	display: block;
	margin-top:0px;
}
#footerinner {
	width: 940px;
	margin: 0 0;
	line-height: 14px;
	overflow: hidden;
	display: block;
}
#ftleft {
	float: left;
	display: block;
}

#ftleft ul {
	padding-left: 0px;
}

#ftleft li {
	display: inline;
	font-size: 8pt;
	font-weight: bold;
	color: white;
}

#footer p {
	margin-top: 23px;
	color: white;
	line-height: 16px;
	woer-spacing: -1px;
	display: block;
}

#board_box li{
display : inline-block;
margin-top: 5px;

}


#review_detail_view_section {
	min-height: 800px;
	width: 100%;
}

#review_detail_view_total_bar {
	width: 940px;
	height: 700px;
	position: relative;
	left: 500px;
	top: 100px;
}

#review_detail_view_imgtotal_bar {
	width: 940px;
	height: 220px;
	border-bottom: solid 1px #eaeaea
}

#review_detail_view_img_bar {
	width: 300;
	height: 215px;
	margin: 0 5px;
	display: inline-block;
}

#review_detail_view_img {
	width: 300px;
	height: 210px;
	border-radius: 5px;
	border: solid 0.5px gray;
	border-radius: 5px
}

#review_detail_view_title_total_bar {
	width: 937px;
	height: 50px;
	position: relative;
	top: 20px;
	border-bottom: solid 1px #eaeaea
}

#review_detail_view_title {
	width: 730px;
	font-size: 25px;
	position: relative;
	top: 7px
}

#review_detail_view_writer {
	width: 120px;
	font-size: 15px;
	position: relative;
	bottom: 18px;
	left: 745px
}

#review_detail_view_redcount {
	width: 50px;
	font-size: 15px;
	position: relative;
	bottom: 18px;
	left: 761px
}

#review_detail_view_rcontent_bar {
	width: 937px;
	height: 355px;
	font-size: 15px;
	border-bottom: solid 1px #eaeaea
}

#review_detail_view_rcontent {
	width: 933px;
	height: 372px;
	font-size: 15px;
}

#review_detail_view_date {
	width: 70px;
	position: relative;
	left: 863px;
	bottom: 20px;
}
